<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Param url</title>
  </head>
  <body>
    <h1>param url</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse,
      necessitatibus rem inventore nihil eaque deserunt asperiores dolores neque
      pariatur velit perspiciatis voluptate, magnam atque consequatur tenetur
      cum quis. Alias, porro?
    </p>
    <b>Acima está um texto em latim</b>
    <p>O nodemon está atualizando</p>
  </body>
</html>
